simulation/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Weather-Driven Simulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "Azure TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "Azure IoT Hub Broker",
        "broker": "$(IOT_HUB_HOSTNAME)",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "$(DEVICE_ID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "$(IOT_HUB_HOSTNAME)/$(DEVICE_ID)/?api-version=2021-04-12",
            "password": "$(IOT_HUB_SAS_TOKEN)"
        }
    },
    {
        "id": "weather_inject",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Fetch Weather (5 min)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "prepare_weather_url",
                "debug_env_vars"
            ]
        ]
    },
    {
        "id": "weather_http",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "WeatherAPI.com",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "weather_parser",
                "debug_weather_raw"
            ]
        ]
    },
    {
        "id": "prepare_weather_url",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare URL",
        "func": "const key = env.get(\"WEATHER_API_KEY\");\nconst loc = env.get(\"WEATHER_LOCATION\");\nmsg.url = `http://api.weatherapi.com/v1/current.json?key=${key}&q=${loc}`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 220,
        "wires": [
            [
                "weather_http"
            ]
        ]
    },
    {
        "id": "weather_parser",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Parse Weather Data",
        "func": "const w = msg.payload;\n\n// Check for valid API response\nif (!w || !w.current) {\n    node.warn(\"Weather API failed or key missing. Using fallback data.\");\n    // Fallback data (Dhaka averages)\n    msg.payload = {\n        externalWeather: {\n            temperature: 30,\n            humidity: 70,\n            rainfall: 0,\n            windSpeed: 5,\n            cloudCover: 20,\n            isFallback: true\n        }\n    };\n} else {\n    msg.payload = {\n        externalWeather: {\n            temperature: w.current.temp_c,\n            humidity: w.current.humidity,\n            rainfall: w.current.precip_mm,\n            windSpeed: w.current.wind_kph,\n            cloudCover: w.current.cloud,\n            isFallback: false\n        }\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 220,
        "wires": [
            [
                "soil_fusion"
            ]
        ]
    },
    {
        "id": "soil_fusion",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Soil Fusion (Physics-Based)",
        "func": "let soil = flow.get(\"soil\") || 35;\nconst weather = msg.payload.externalWeather;\n\n// rainfall increases soil moisture\nsoil += weather.rainfall * 2;\n\n// temperature decreases moisture (evaporation)\nsoil -= weather.temperature * 0.05;\n\n// clamp\nsoil = Math.min(60, Math.max(10, soil));\nflow.set(\"soil\", soil);\n\nmsg.payload = {\n  temperature: weather.temperature,\n  humidity: weather.humidity,\n  soil_moisture: Number(soil.toFixed(2)),\n  weatherSource: \"WeatherAPI.com\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 220,
        "wires": [
            [
                "format_payload",
                "debug_fused"
            ]
        ]
    },
    {
        "id": "format_payload",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Format Payload",
        "func": "let seq = flow.get(\"seq\") || 0;\nseq++;\nflow.set(\"seq\", seq);\n\nconst deviceId = env.get(\"DEVICE_ID\");\n\nmsg.payload = {\n  schemaVersion: \"1.0\",\n  eventType: \"telemetry\",\n  dataClass: \"telemetry\",\n  messageId: seq,\n  deviceId: deviceId,\n  farmId: \"farm_001\",\n  zoneId: \"zone_A\",\n  telemetry: {\n    temperature: msg.payload.temperature,\n    humidity: msg.payload.humidity,\n    soilMoisture: msg.payload.soil_moisture\n  },\n  actuators: {\n    pump: \"OFF\"\n  },\n  system: {\n    deviceType: \"simulator\",\n    firmware: \"v0.1\",\n    status: \"online\",\n    timeSource: \"system\",\n    dataSource: msg.payload.weatherSource\n  },\n  timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "debug_final",
                "mqtt_out_node",
                "prepare_dashboard_data",
                "save_latest_telemetry"
            ]
        ]
    },
    {
        "id": "inject_heartbeat",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "Heartbeat 60s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 500,
        "wires": [
            [
                "func_heartbeat"
            ]
        ]
    },
    {
        "id": "func_heartbeat",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Format Heartbeat",
        "func": "const deviceId = env.get(\"DEVICE_ID\");\n\nmsg.payload = {\n  eventType: \"heartbeat\",\n  deviceId: deviceId,\n  status: \"online\",\n  timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "debug_final",
                "mqtt_out_node",
                "prepare_dashboard_data"
            ]
        ]
    },
    {
        "id": "debug_weather_raw",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Raw Weather API",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_fused",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Fused Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug_final",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "IoT Hub Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt_out_node",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Azure IoT Hub",
        "topic": "devices/$(DEVICE_ID)/messages/events/",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_env_vars",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Debug Env Vars",
        "func": "node.warn(\"API Key: \" + env.get(\"WEATHER_API_KEY\"));\nnode.warn(\"Location: \" + env.get(\"WEATHER_LOCATION\"));\nnode.warn(\"Device ID: \" + env.get(\"DEVICE_ID\"));\nnode.warn(\"Host: \" + env.get(\"IOT_HUB_HOSTNAME\"));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_group_telemetry",
        "type": "ui_group",
        "name": "Telemetry",
        "tab": "ui_tab_dashboard",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_dashboard",
        "type": "ui_tab",
        "name": "Simulation Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_template_monitor",
        "type": "ui_template",
        "z": "f6f2187d.f17ca8",
        "group": "ui_group_telemetry",
        "name": "System Monitor",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<div layout=\"column\" layout-align=\"center center\" style=\"height: 100%; padding: 10px;\">\n    <h3 style=\"margin-bottom: 20px;\">System Monitor</h3>\n    <div layout=\"row\" layout-align=\"space-around center\" style=\"width: 100%;\">\n        <div layout=\"column\" layout-align=\"center center\">\n            <md-icon style=\"font-size: 32px; height: 32px; width: 32px; color: #4CAF50;\">thermostat</md-icon>\n            <span style=\"font-size: 1.5em; font-weight: bold; margin-top: 5px;\">{{msg.payload.temperature}}°C</span>\n            <span style=\"color: #888; font-size: 0.8em;\">Temperature</span>\n        </div>\n        <div layout=\"column\" layout-align=\"center center\">\n            <md-icon style=\"font-size: 32px; height: 32px; width: 32px; color: #2196F3;\">water_drop</md-icon>\n            <span style=\"font-size: 1.5em; font-weight: bold; margin-top: 5px;\">{{msg.payload.humidity}}%</span>\n            <span style=\"color: #888; font-size: 0.8em;\">Humidity</span>\n        </div>\n        <div layout=\"column\" layout-align=\"center center\">\n            <md-icon style=\"font-size: 32px; height: 32px; width: 32px; color: #FF9800;\">grass</md-icon>\n            <span style=\"font-size: 1.5em; font-weight: bold; margin-top: 5px;\">{{msg.payload.soilMoisture}}%</span>\n            <span style=\"color: #888; font-size: 0.8em;\">Soil Moisture</span>\n        </div>\n    </div>\n    <div style=\"margin-top: 30px; text-align: center; width: 100%; border-top: 1px solid #444; padding-top: 10px;\">\n        <div layout=\"row\" layout-align=\"center center\">\n            <span style=\"margin-right: 10px;\">Status:</span>\n            <span style=\"font-weight: bold;\" ng-style=\"{color: msg.payload.status === 'online' ? '#4CAF50' : '#F44336'}\">{{msg.payload.status | uppercase}}</span>\n        </div>\n        <div style=\"font-size: 0.8em; color: #666; margin-top: 5px;\">Last Update: {{msg.payload.lastUpdate}}</div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 600,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "prepare_dashboard_data",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Prepare Dashboard Data",
        "func": "let dashboard = flow.get(\"dashboard\") || {\n    temperature: \"--\",\n    humidity: \"--\",\n    soilMoisture: \"--\",\n    status: \"Waiting...\",\n    lastUpdate: \"--\"\n};\n\nif (msg.payload.eventType === 'telemetry') {\n    dashboard.temperature = msg.payload.telemetry.temperature;\n    dashboard.humidity = msg.payload.telemetry.humidity;\n    dashboard.soilMoisture = msg.payload.telemetry.soilMoisture;\n    dashboard.lastUpdate = new Date().toLocaleTimeString();\n} else if (msg.payload.eventType === 'heartbeat') {\n    dashboard.status = msg.payload.status;\n    dashboard.lastUpdate = new Date().toLocaleTimeString();\n}\n\nflow.set(\"dashboard\", dashboard);\nmsg.payload = dashboard;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            ["ui_template_monitor"]
        ]
    },
    {
        "id": "save_latest_telemetry",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Save Latest Telemetry",
        "func": "global.set('latestTelemetry', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "http_in_telemetry",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/api/telemetry",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 600,
        "wires": [
            [
                "get_telemetry"
            ]
        ]
    },
    {
        "id": "get_telemetry",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Get Latest Telemetry",
        "func": "msg.payload = global.get('latestTelemetry') || { error: 'No data available yet' };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 600,
        "wires": [
            [
                "http_response"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 600,
        "wires": []
    }
]